doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='')
  body
    block content
    script(type='text/javascript', src='javascripts/materialize.min.js')
